$gp-green: #66cc00;
// $gp-darken: #80c342;
$gp-darken: darken($gp-green, 2%);
$form-border: #ccc;
$form-label: #999;
$form-text: #333;

.react-en-form {
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  .is-flex-horizontal {
    display: flex;
    flex-direction: row;
    .field {
      margin-right: 8px;
    }
  }

  .button {
    &.is-active {
      background: $gp-darken;
      border: 1px solid #ddd;
      color: white;
    }
  }

  .enform__buttion {
    border: none;
    width: 100%;
    background-color: $gp-darken;
    color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }

  .step {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .en-form-slogan {
    background-color: $form-border;
    color: $form-text;
    text-align: center;
    padding: 8px;
    // margin-bottom: 1rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .donate-succ-slogan {
    color: $form-text;
    border-bottom: 1px solid $gp-darken;
    text-align: left;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-text {
      margin-left: 1.5rem;
    }
    .fa-check-circle {
      color: $gp-darken;
      font-size: 2rem;
    }
  }

  .step-explain {
    border-left: 1px solid $form-border;
    color: $form-label;
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .step-2 {
    hr {
      margin: 1rem 0;
      height: 1px;
      background-color: $form-border;
    }
  }
  .donate-amount-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $form-border;
    padding: 10px;
    // margin-bottom: 1rem;
    font-size: 14px;

    .main-text {
      flex: 1;
    }
    .go-back-step1 {
      padding: 4px;
      font-size: 14px;
      color: $form-text;
      border-bottom: 1px solid $form-text;
      cursor: pointer;
    }
  }

  .step-2 {
    .is-flex-horizontal {
      display: flex;
      flex-direction: row;

      .field {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .field {
      .label {
        font-size: 12px;
        color: $form-label;
        font-weight: normal;
        margin-bottom: 4px;
      }
    }

    .credit-field {
      margin-top: 30px;
    }

    .send-me-email-part {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      color: $form-text;
      font-size: 12px;
      input {
        margin-top: 3px;
        margin-right: 0.5rem;
      }
    }
  }
  .global-error {
    margin-top: 2rem;
  }
}
