#en-form {
  width: 100%;
}

.step-explain {
  color: var(--form-label);
  margin-bottom: 20px;
}

.en-form-slogan {
  background-color: var(--border);
  color: var(--form-text);
  text-align: center;
  padding: 8px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-en-form {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
  padding: 20px 16px 60px;
  background-color: #fff;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    white 10px,
    white 90%,
    transparent
  );
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @media (min-width: 768px) {
    width: calc(100% - 40px);
  }
  .is-flex-horizontal {
    display: flex;
    flex-direction: row;
    .field {
      margin-right: 8px;
    }
  }

  .button {
    color: var(--form-label);
    &.is-active {
      border: orange;
      background: orange;
      color: white;
    }
  }

  .enform__button {
    width: 100%;
    background-color: var(--orange);
    box-shadow: var(--shadow);
    border: none;
    color: #fff;
    font-weight: bold;
    margin: 20px auto 40px;
    &:hover {
      transform: translateY(-4px);
      background-color: lighten(orange, 10%);
      transition: all 0.2s ease-in;
      box-shadow: var(--shadow--md);
    }
  }

  .step {
    display: flex;
    flex-direction: column;
  }

  .donate-succ-slogan {
    color: var(--form-text);
    border-bottom: 1px solid var(--title);
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-text {
      margin-left: 16px;
    }
    .fa-check-circle {
      color: var(--title);
      font-size: 2rem;
    }
  }

  .step-2 {
    hr {
      margin: 1rem 0;
      height: 1px;
      background-color: var(--border);
    }
  }
  .donate-amount-part {
    z-index: 1;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--border);
    .main-text {
      flex: 1;
      .donate-amount {
        color: var(--sub-text);
        font-weight: bold;
        .amount {
          margin-left: 8px;
          font-weight: 900;
          font-size: 20px;
          color: var(--orange);
        }
      }
    }
    .go-back-step1 {
      padding: 4px;
      font-size: 14px;
      color: var(--sub-text);
      border-bottom: 1px solid var(--border);
      cursor: pointer;
    }
  }

  .step-2 {
    .is-flex-horizontal {
      display: flex;
      flex-direction: row;

      .field {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .field {
      margin-bottom: 20px;
      .label {
        font-size: 12px;
        color: var(--form-label);
        font-weight: normal;
        margin-bottom: 4px;
      }
    }

    .credit-field {
      margin-top: 30px;
    }

    .send-me-email-part {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      color: var(--form-label);
      font-size: 12px;
      input {
        margin-top: 3px;
        margin-right: 0.5rem;
      }
    }
  }
  .global-error {
    margin: 20px 0;
  }
}
