.react-en-form {
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid var(--border);
  .is-flex-horizontal {
    display: flex;
    flex-direction: row;
    .field {
      margin-right: 8px;
    }
  }

  .button {
    color: var(--form-label);
    &.is-active {
      background: var(--gp-green);
      border: 1px solid var(--gp-green);
      color: white;
    }
  }

  .enform__buttion {
    width: 100%;
    background-color: var(--gp-green);
    color: #fff;
    box-shadow: var(--shadow);
    margin-bottom: 30px;
  }

  .step {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .en-form-slogan {
    background-color: var(--border);
    color: var(--form-text);
    text-align: center;
    padding: 8px;
    // margin-bottom: 1rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .donate-succ-slogan {
    color: var(--form-text);
    border-bottom: 1px solid var(--gp-green);
    text-align: left;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-text {
      margin-left: 1.5rem;
    }
    .fa-check-circle {
      color: var(--gp-green);
      font-size: 2rem;
    }
  }

  .step-explain {
    border-left: 1px solid var(--border);
    color: var(--form-label);
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .step-2 {
    hr {
      margin: 1rem 0;
      height: 1px;
      background-color: var(--border);
    }
  }
  .donate-amount-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--border);
    padding: 10px;
    // margin-bottom: 1rem;
    font-size: 14px;

    .main-text {
      flex: 1;
    }
    .go-back-step1 {
      padding: 4px;
      font-size: 14px;
      color: var(--form-text);
      border-bottom: 1px solid var(--form-text);
      cursor: pointer;
    }
  }

  .step-2 {
    .is-flex-horizontal {
      display: flex;
      flex-direction: row;

      .field {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .field {
      .label {
        font-size: 12px;
        color: var(--form-label);
        font-weight: normal;
        margin-bottom: 4px;
      }
    }

    .credit-field {
      margin-top: 30px;
    }

    .send-me-email-part {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      color: var(--form-text);
      font-size: 12px;
      input {
        margin-top: 3px;
        margin-right: 0.5rem;
      }
    }
  }
  .global-error {
    margin-top: 2rem;
  }
}
