// root variables
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --black: #000;
  --white: #fff;
  --gp-green: #66cc00;
  --orange: #ff9500;
  --gp-dark-blue: #292f47;
  --light-gray: #f5f5f5;
  // Text colors
  --title: #5ac8fad8;
  --text: rgba(0, 0, 0, 0.65);
  --sub-text: rgba(0, 0, 0, 0.45);
  // Form colors
  --form-text: rgba(0, 0, 0, 0.65);
  --form-label: rgba(0, 0, 0, 0.45);
  --disable: #999;
  //
  --success: #52c41a;
  --warning: #faad14;
  --error: #f5222d;
  //
  --border: #c6c6c8;
  --border-radius-base: 4px;
  //
  --shadow--base: 0 2px 8px rgba(0, 0, 0, 0.15);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow--md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow--lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow--xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow--2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow--inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow--outer: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
// import
@import "./scss/bulma";
@import "./scss/base";
@import "./scss/typography";
@import "./scss/override";
//
.loading--overlay {
  z-index: 999;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 200px;
  }
}
.app {
  &.modal-open {
    overflow: hidden;
  }
}
.main-left {
  overflow-x: hidden;
  padding: 0;
}
// Form Modal
.main-right {
  background-color: #f5f5f5;
  position: relative;
  z-index: 1;
  padding: 20px 16px;
  &.showFormModal {
    margin: 0px;
    padding: 0px;
    z-index: 999;
    display: block !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

// enform
.enform-wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #fff;
  overflow-y: auto;
}

.enform-header {
  margin-bottom: 20px;
  .welcome-message {
    .header-text {
      display: flex;
      align-items: center;
      .return-arrow {
        cursor: pointer;
        margin-right: 16px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .is-flex-horizontal {
      display: flex;
      flex-direction: row;
      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p {
          font-size: 1.6rem;
          margin-bottom: 8px;
          font-weight: bold;
        }
      }
    }
  }
}
.enform-body {
  position: sticky;
  top: 0;
  min-height: 70vh;
}

.enform-note {
  margin-bottom: 20px;
  small {
    color: var(--sub-text);
    font-size: 14px;
    &.star {
      position: relative;
      &:before {
        content: "*";
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        left: -14px;
        top: 0px;
      }
    }
  }
}

.enform-footer {
  padding: 40px 20px;
  font-size: 14px;
  background: #f5f5f5;
  align-self: flex-end;
  border: 2px solid var(--orange);
  border-left: none;
  border-right: none;
}

// mobile main button
.main-button {
  display: flex;
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 58px;
  padding: 6px 20px;
  box-shadow: var(--shadow);
  background-color: #fff;
  will-change: transform;
  .scroll-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    .progress-bar {
      background-color: blue;
      height: 3px;
      width: 0%;
      transition: width 0.1s ease;
    }
  }
  .button {
    height: 48px;
    width: 100%;
    background-color: var(--orange);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
  }
}
