// root variables
:root {
  --noto-sans: "Noto Sans TC", sans-serif;
  --black: #000;
  --white: #fff;
  --gp-green: #66cc00;
  --gp-darken: darken(#66cc00, 2%);
  --gp-orange: #ff8100;
  --gp-dark-blue: #292f47;
  --border: #ccc;
  --text: rgba(0, 0, 0, 0.75);
  --sub-text: rgba(0, 0, 0, 0.55);
  --form-text: #333;
  --form-label: #999;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow--md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow--lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow--xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow--2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow--inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow--outer: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
// import
@import "./scss/bulma";
@import "./scss/base";
@import "./scss/typography";
//section
.section {
  width: 100%;
  padding: 40px 0px 20px;
}

.section-featured {
  background-image: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 0) 0%,
    #eee 100%
  );
}
.section-updates {
  background: #e6f5f5;
}

// container
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.container.is-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin: 0;
}

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  @media (max-width: 575.98px) {
    padding: 0;
  }
}

.section-header {
  max-width: 480px;
  margin: 0 auto;
}

.title {
  color: var(--gp-dark-blue);
  font-weight: bold;
}
.subtitel {
  color: var(--sub-text);
}

.main {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

/*
.main-container {
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
*/

.main-button {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 4px;
  background-color: #fff;
  background-image: linear-gradient(to top, #fff, transparent);
  .button {
    width: 100%;
    background-color: var(--gp-orange);
    color: #fff;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 1.5;
    text-align: center;
  }
}
