.header {
  &.header--white {
    background-color: var(--white);
  }
  &.header--green {
    background-color: var(--gp-green);
  }
}

.header__wrapper {
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__logo {
  flex: 1;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  img {
    width: 100%;
    max-width: 200px;
  }
}
.navbar__button {
  display: none;
  .button {
    border-color: var(--gp-orange);
    background-color: var(--gp-orange);
    color: #fff;
    display: none;
  }
}
