.header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  box-shadow: var(--shadow);
  background-color: var(--white);
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__logo {
  flex: 1;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  img {
    width: 100%;
    max-width: 200px;
  }
}
.navbar__button {
  display: none;
  .button {
    border-color: var(--gp-orange);
    background-color: var(--gp-orange);
    color: #fff;
    display: none;
  }
}
