.header {
  &.header--white {
    background-color: var(--white);
  }
  &.header--green {
    background-color: var(--gp-green);
  }
}

.header__wrapper {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__logo {
  flex: 1;
  img {
    width: 100%;
    max-width: 180px;
  }
}
.navbar__button {
  .button {
    border-color: var(--gp-orange);
    background-color: var(--gp-orange);
    color: #fff;
    display: none;
  }
}
