.billboard-wrapper {
  .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid var(--title);
    box-shadow: var(--shadow);
    p {
      margin: 0;
    }
  }
}
