.section-timeline {
  width: 100%;
  padding: 0 16px;
}
.timeline-wrapper {
  .timeline {
    max-width: 680px;
    margin: 40px auto;
  }
  .timeline-header {
    .tag {
      color: var(--gp-green);
      background: none;
    }
  }
  .timeline-content {
    width: 100%;
    .heading {
      color: var(--gp-green);
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 8px;
      letter-spacing: 2px;
    }
  }

  .timeline-content__image {
    margin-top: 20px;
    padding-bottom: 56.25%;
  }
}
