.section-intro {
  p + p {
    margin-top: 30px;
  }
  .row {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .text-right {
    .col-xs:last-child {
      margin-left: 30px;
    }
  }
  .text-left {
    .col-xs:first-child {
      margin-right: 30px;
    }
  }
}

.column__img {
  min-height: 250px;
  img {
    box-shadow: var(--shadow);
  }
}

.sticker-wrapper {
  display: flex;
  .sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 90%;
      filter: drop-shadow(var(--shadow));
    }
  }
}
