.section-intro {
  p + p {
    margin-top: 30px;
  }
  .row {
    margin-bottom: 40px;
  }
  @media (min-width: 768px) {
    .row {
      margin-bottom: 80px;
    }
  }
}

.text-left {
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .text-right {
    .col-xs:last-child {
      margin-left: 20px;
    }
  }
  .text-left {
    flex-direction: row;
    .col-xs:first-child {
      margin-right: 20px;
    }
  }
}

.column__img {
  min-height: 250px;
  img {
    box-shadow: var(--shadow);
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.sticker-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 20px auto;
  .sticker {
    position: relative;
    padding: 4px 4px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
      transform: translateY(-1rem);
      transition: 0.2s ease-in;
      opacity: 0;
      position: absolute;
      bottom: -2rem;
    }
    &:hover {
      .button {
        transform: translateY(0rem);
        opacity: 1;
      }
    }
    .sticker__name {
      margin-bottom: 8px;
      text-align: center;
    }
    figure {
      margin: 16px auto;
    }
    ul {
      color: var(--sub-text);
    }

    img {
      width: 90%;
      max-width: 280px;
      margin: 0 auto;
    }
  }
}
