.footer {
  color: #666;
  hr {
    background: none;
    position: relative;
    margin: 16px 0;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-25%);
      width: 8px;
      height: 4px;
      background-color: whitesmoke;
    }
  }
}

.footer {
  &__logo {
    img {
      padding: 8px;
      background-color: #666;
      width: 100%;
      max-width: 180px;
    }
  }
  &__note {
    margin-top: 30px;
    max-width: 480px;
  }
  &__link {
    margin-top: 30px;
    .links {
      display: flex;
      flex-flow: column;
      margin: 0;
    }
    .link {
      margin-bottom: 8px;
      color: #666;
    }
  }
}

@media (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column-reverse;
  }
  .column {
    width: 100%;
  }
}
