/* swiper */
.swiper-container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 20px 0px 60px;
}
.section-testimonial {
  .swiper-slide {
    width: 300px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    color: var(--sub-text);
    width: 48px;
    height: 48px;
    transition: all 0.2s;
    &:hover {
      background-color: #fff;
      border-radius: 100%;
      box-shadow: var(--shadow--md);
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
  }

  .swiper-pagination-bullet {
    visibility: hidden;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--title);
  }
}

/* end of swiper */
.card {
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  background-origin: var(--shadow--base);
}

.testimonial-text {
  min-height: 160px;
  color: var(--sub-text);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  .headline {
    font-size: 14px;
  }
  .name {
    position: relative;
    margin: 0;
  }
}
