.donate-amount-chooser {
  .button.recurring,
  .button.onetime {
    height: auto;
    width: 50%;
  }
  .available-amounts {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    .check {
      margin-right: 8px;
    }
    .currency {
      margin-right: 4px;
    }
    .button {
      transition: all 0.2s ease-in;
      flex: 1;
      padding: 0;
      &.is-active {
        flex: 1.2;
      }
    }
  }
  .other-amount-part {
    margin-top: 4px;
  }
  small {
    color: var(--sub-text);
  }
}
