.donate-amount-chooser {
  .button.recurring,
  .button.onetime {
    height: auto;
    width: 50%;
  }
  .available-amounts {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    .check {
      margin-right: 8px;
    }
    .currency {
      margin-right: 4px;
    }
    .button {
      flex: 1;
      padding: 0;
    }
  }
}
