@charset "utf-8";
// Update Bulma's global variables
$link: #6c0;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #fff;

// Import bulma
// @import "../node_modules/bulma/bulma.sass";
// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/all";
@import "../../../node_modules/bulma/sass/base/all";
@import "../../../node_modules/bulma/sass/elements/all";
@import "../../../node_modules/bulma/sass/form/all";
@import "../../../node_modules/bulma/sass/components/all";
@import "../../../node_modules/bulma/sass/layout/all";
