.section {
  width: 100%;
  padding: 40px 0px 20px;
}

.section-featured {
  background-image: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 0) 0%,
    #eee 100%
  );
}
.section-updates {
  background: #e6f5f5;
}

.section-header {
  max-width: 480px;
  margin: 0 auto 20px;
}

.row {
  margin: 0;
}

// container
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.container.is-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
