.section {
  width: 100%;
  padding: 3rem 20px;
  overflow: hidden;
}

.row {
  margin: 0;
  padding: 0;
}

.section-header {
  max-width: 480px;
  margin-bottom: 20px;
  &.section-header--centered {
    text-align: center;
    margin: 0 auto 20px;
  }
  h1 {
    font-weight: bold;
    color: var(--title);
  }
  .title {
    color: var(--title);
  }
}
